<footer>
  <ul class="list-inline text-center btn-blk">
                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>" >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>" >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.github_username) { %>
                    <li>
                        <a target="_blank"  href="https://github.com/<%= config.github_username %>" >
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>" >
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                <% } %>
                </ul>
  <p class="copyright">
    Copyright &copy; <%= config.author %> <%= new Date().getFullYear() %>
  </p>
</footer>
