<footer>
  <ul class="list-inline text-center btn-blk">
                <% if (config.twitter_username) { %>
                    <li>
                        <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>" >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.facebook_username) { %>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>" >
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.github_username) { %>
                    <li>
                        <a target="_blank"  href="https://github.com/<%= config.github_username %>" >
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                <% } %>
                <% if (config.linkedin_username) { %>
                    <li>
                        <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>" >
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                <% } %>
                </ul>
  <p class="copyright">
    Copyright &copy; <%= config.author %> <%= new Date().getFullYear() %>
  </p>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
