<head>
  <meta charset="utf-8">
  <!-- Google Analytics -->
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <link rel="canonical" href="fanxuricky.gq" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1">

  <!-- AMP -->
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  <!-- Title -->
  <%
      var title = [];
      if (page.current > 1) title.push(__('page', page.current));
      if (page.title) title.push(page.title);
      title.push(config.title);
  %>
  <title><%= title.join(' - ') %></title>

  <!--Google Font: Amita-->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amita">

  <!--Font awesome-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--Favicon-->
  <link rel="icon" href="/favicon/favicon.ico">

  <!--Description-->
  <% if (page.description){ %>
      <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
      <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
      <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
      <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>

  <!--Author-->
  <% if (config.author){ %>
      <meta name="author" content="<%= config.author %>">
  <% } %>

  <!-- Custom CSS -->
    <style amp-custom> <%- partial('css/styles.css') %> </style>
</head>
