<div class="post-image-div">
  <amp-img layout="responsive" width="500" height="300"  src="<%- config.url %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>"></amp-img>
</div>

<div class="portfolio-content">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
  <%- item.content %>
</div>

<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "<%= theme.google_analytics %>"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
