<!DOCTYPE html>
<html amp lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
    <!-- Header -->
  	<div class="header-top">
      <%- partial('_partial/header') %>
  	</div>

    <!-- body scripts -->
    <div class="body-container">
      <%- body %>
    </div>
    
    <%- partial('_partial/amp-sidebar') %>
  </body>

  <!-- footer scripts -->
  <%- partial('_partial/footer') %>
</html>
